html {
  --red: rgb(255, 97, 97);
}

body {
  text-align: center;
  background: rgb(0, 15, 34);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Righteous', cursive;
  margin: 0;
  font-size: calc(10px + 7vmin);
}

h1 {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--red);
}

.container {
  display: inline-flex;
  flex-direction: row;
}

.container div {
  border-radius: 5px;
  margin: 40px;
  padding: 40px;
  min-width: 200px;
  transition: background-color 150ms;
}

.container div a {
  color: white;
  text-decoration: none;
}

.container div p {
  font-size: 20px;
}


.container div:hover, .container div:focus, .container div:active {
  background-color: var(--red);
}

@media screen and (orientation:portrait) and (max-width: 700px) {

  body {
    font-size: calc(10px + 9vmin);
  }

  .container {
    flex-direction: column;
  }

  .container div {
    margin: 20px;
    padding: 20px;
    min-width: 100px;
  }

  .nick {
    text-shadow: 2.5vmin 2.5vmin var(--red);
  }

}

.nick {
  text-shadow: 0.5vmin 0.5vmin var(--red);
}